body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

.navbar-brand {
  cursor: default;
  color: #30475e;
  font-family: Roboto;
  font-size: 200%;
  font-weight: bold;
}

nav {
  background-color: rgba(255, 255, 255, 0);
}

.jumbotron {
  color: #121212;
  background-color: #f5f5f5;
}

form button.btn {
  background-color: #f05454;
}
form button.btn:hover {
  background-color: #30475e;
}

form button.btn i {
  color: #f5f5f5;
}

button.btn {
  background-color: #f05454;
  color: #f5f5f5;
}
button.btn:hover{
  background-color: #30475e;
  color: #f5f5f5;
}